* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    gap: 10px;
    align-items: center;
}

.navbar__s1__title {
    padding: 10px 20px;
    border: none;
    background: #a435f0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #d1d5d7;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    font-size: 14px;
    width: 100%;
}

.navbar__s2 input:focus {
    outline: none;
}

.login-btn {
    padding: 10px 20px;
    border: none;
    background: #a435f0;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.signup-btn {
    padding: 10px 20px;
    border: none;
    background: #a435f0;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.signup-btn:hover {
    background: #b08ec6;
}

.login-btn:hover {
    background: #b08ec6;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.flash-sale {
    background-color: rgb(37, 191, 222);
    color: black;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;

}

.marquee-container {
    overflow: hidden;
    background: #e82396;
    padding: 10px;
}

.flash-sale {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(-100%);
    }
}

.Categories {
    display: flex;
    padding: 5px;
    border-bottom: solid black 1px;
    justify-content: space-between;
}

.Categories p {
    background-color: #a435f0;
    color: bisque;
    padding: 10px;
    border-radius: 20px;

}

.Categories p:hover {
    background-color: #b08ec6;
}

.sale-image img {
    width: 100%;
    object-fit: cover;
}

.sale-image img {
    width: 100%;
    animation: slideLeft 2.5s ease;
}

@keyframes slideLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.sale-image {
    position: relative;
}

.sale-image img {
    width: 100%;
    display: block;
}

.sale-title {
    position: absolute;
    top: 20%;
    left: 10%;
    color: black;
    font-size: 40px;
}

.sale-desc {
    position: absolute;
    top: 35%;
    left: 10%;
    color: black;
    font-size: 20px;
    width: 400px;
}


.recommended {
    padding: 10px;
}

.Recommended__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-card {
    width: 250px;
}

.course-card img {
    height: 50%;
    width: 100%;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;

    flex-wrap: wrap;
}
.topics__container p{
    border: solid black 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}
.footer{
    padding: 30px;
    background-color: rgb(117, 119, 119);
    color: black;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin-top: 20px;
}
.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}